.cart {
  width: 300px;
  padding: 12px 16px 24px 16px;
  border-radius: 18px;
  background: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 12px 0;

    &-amount {
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 16px 2px 16px;
      border-radius: 6px;
      background: $color-grey-light-2;

      span {
        @include small-title-bold;
      }
    }
  }

  &__item {
    width: 100%;
    display: block;

    &-inner {
      padding: 15px 0 14px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-left {
      display: flex;
      gap: 6px;

      img {
        height: 52px;
      }
    }

    &-info {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 6px;
      justify-content: space-between;
    }

    &-top {
      display: flex;
      flex-direction: column;
      gap: 1px
    }

    &-title {
      @include small-title-bold;
    }

    &-weight {
      @include small-title-text;
      color: $color-grey-light-3;
    }

    &-price {
      @include small-title-bold;
    }

    &-btn {
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 18px;
      padding: 16px 9px;
      border-radius: 12px;
      background: $color-grey-light-2;
      @include regular-text;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &__bottom {
    padding-top: 16px;
    display: flex;
    flex-direction: column;

    &-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      span {
        @include regular-text;
        font-weight: 600;
      }
    }

    &-delivery {
      display: flex;
      gap: 7px;
      align-items: center;

      span {
        @include small-title-bold;
      }
    }
  }

  &__btn {
    margin-bottom: 8px;
  }
}