.category__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    background: $color-white;
    border-radius: 50px;
    gap: 8px;
    border: 1px solid $color-white;
    transition: all .3s;
    cursor: pointer;
    
    &:hover {
        border: 1px solid $color-secondary;
    }
}