.menu {
  width: 100%;  

  &__nav {
    padding: 40px 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &__content {
    margin: 0 auto;
    width: max-content;
    display: flex;
    gap: 30px
  }

  &__left {
   
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 24px
  }
}